<?xml version="1.0"?>
<robot name="sensor_rplidar_a2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_rplidar_a2" params="parent">
    <joint name="lidar_mount_joint" type="fixed">
      <origin xyz="0 0 0.406" rpy="0 -3.141592653 0"/>
      <parent link="${parent}"/>
      <child link="lidar_mount_link"/>
    </joint>
    <link name="lidar_mount_link">
      <visual>
       <origin xyz="0.005 -0.03 0" rpy="0 0 0"/>
        <geometry>
         <mesh filename="package://turtlebot_description/meshes/sensors/a2_test_split.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_red">
          <color rgba="0.1328125 0.0234375 0.0 1"/>
        </material>
      </visual>
    </link>
    <joint name="lidar_joint" type="fixed">
      <origin xyz="0 0 0.032" rpy="0 0 0"/>
      <parent link="lidar_mount_link"/>
      <child link="laser"/>
    </joint>
    <link name="laser"/>
  </xacro:macro>
</robot>