<launch>

	<arg name="paclidar_ip" default="192.168.1.199"/>

	<node pkg="lidar_driver" type="driver_node" name="driver_node" >
		<param name="advertise_name" value="lidar_points" />
		<param name="control_name" value="lidar_control"/>
		<param name="device_ip" value="$(arg paclidar_ip)" />
		<param name="device_port" value="5000" />
		<param name="pc_port"     value="6000" />
		<param name="fps" value="10"/>
		<param name="frame_id" value="/world"/>
		<param name="section_agl_start_1" value="0"/>
		<param name="section_agl_end_1" value="360"/>

		<param name="section_agl_start_2" value="0"/>
		<param name="section_agl_end_2" value="0"/>

		<param name="section_agl_start_3" value="0"/>
		<param name="section_agl_end_3" value="0"/>

		<param name="section_agl_start_4" value="0"/>
		<param name="section_agl_end_4" value="0"/>

		<param name="section_agl_start_5" value="0"/>
		<param name="section_agl_end_5" value="0"/>
	</node>
</launch>
