<launch>
  <arg name="rplidar_serial_port" default="/dev/rplidars1"/>
  <node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode">
    <remap from="scan" to="raw_scan"/>
    <param name="serial_port" value="$(arg rplidar_serial_port)"/>
    <param name="serial_baudrate" value="256000"/>
    <param name="frame_id" value="laser"/>
    <param name="inverted" value="false"/>
    <param name="angle_compensate" value="true"/>
  </node>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="rplidars1_range_filter">
    <rosparam command="load" file="$(find kobuki_x_description)/param/rplidara2_for_kobuki_xs_filter_config.yaml"/>
    <remap from="scan" to="raw_scan"/>
    <remap from="scan_filtered" to="scan"/>
  </node>
</launch>