<?xml version="1.0"?>
<!--
    - Base      : kobuki_x
    - Stacks    : circle_board
    - 3d Sensor : astra
-->    
<robot name="kobuki_x_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_x_description)/urdf/bases/kobuki_xs.urdf.xacro" />
  <xacro:include filename="$(find kobuki_x_description)/urdf/stacks/circle_board.urdf.xacro"/>
  <xacro:include filename="$(find kobuki_x_description)/urdf/sensors/astra_for_kobuki_xs.urdf.xacro"/>
  
  <kobuki_xs/>
  <circle_board_stack parent="base_link"/>
  <sensor_astra  parent="circle_board_link"/>
</robot>
