<launch>
  <arg name="kobuki_serial_port" default="/dev/kobuki"/>
  <!--Bringups the base-->
  <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
	  <arg name="base" value="kobuki" />
	  <arg name="serialport" value="$(arg kobuki_serial_port)"/>
  </include>

  <include file="$(find kobuki_x_bringup)/launch/description.launch.xml"/>
</launch>
