<launch>
  <arg name="custom_gmapping_launch_file" default="$(find kobuki_x_bringup)/launch/paclidar_gmapping.launch.xml"/>
  <!-- Gmapping -->
  <include file="$(arg custom_gmapping_launch_file)"/>

  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
  </include>
</launch>
