<launch>
  <arg name="kobuki_serial_port" default="/dev/kobuki"/>
  <arg name="lidar_type" default="$(env TURTLEBOT_3D_SENSOR)"/>
  <arg if="$(eval arg('lidar_type') == 'kinect2_rplidar_s1')" name="rplidar_serial_port" default="/dev/rplidars1"/>
  <arg if="$(eval arg('lidar_type') == 'kinect2_rplidar_a2')" name="rplidar_serial_port" default="/dev/rplidara2"/>
  <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/gmapping.launch.xml"/>
  <!--Bringups the base-->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="serialport" value="$(arg kobuki_serial_port)"/>
  </include>
  <!--Launch the rplidar A2-->
  <include if="$(eval arg('lidar_type') == 'kinect2_rplidar_a2')" file="$(find kobuki_x_description)/launch/rplidara2_for_kobuki_xs.launch">
    <arg name="rplidar_serial_port" value="$(arg rplidar_serial_port)"/>
  </include>
  <include if="$(eval arg('lidar_type') == 'kinect2_rplidar_s1')" file="$(find kobuki_x_description)/launch/rplidars1_for_kobuki_xs.launch">
    <arg name="rplidar_serial_port" value="$(arg rplidar_serial_port)"/>
  </include>
  <include if="$(eval arg('lidar_type') == 'kinect2_paclidar')" file="$(find kobuki_x_description)/launch/paclidar_for_kobuki_xs.launch">
  </include>
  <!-- Gmapping -->
  <include file="$(arg custom_gmapping_launch_file)"/>
  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
  <include file="$(find kobuki_x_description))/launch/description.launch.xml"/>
</launch>
