<launch>
  <arg name="kobuki_serial_port" default="/dev/kobuki"/>
  <arg name="rplidar_serial_port" default="/dev/rplidara2"/>
  <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
  <!--Bringups the base-->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="serialport" value="$(arg kobuki_serial_port)"/>
  </include>
  <!--Launch the rplidar A2-->
  <include file="$(find kobuki_x_description)/launch/rplidara2_for_kobuki_xs.launch">
    <arg name="rplidar_serial_port" value="$(arg rplidar_serial_port)"/>
  </include>
  <!--Launch the kinect2 and convert pointcloud to laser-->
  <include file="$(find kinect2_bridge)/launch/kinect2_cloudtolaser.launch"/>
  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml"/>
  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
</launch>
